.wrapper {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.wrapper__map {
    position: relative;
    flex: 1;
}

.wrapper__inputs {

    width: 100%;
    height: 100%;
    flex: 1;

}