.wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;

}


.wrapper__map {
    position: relative;
    min-height: 55vh;
    flex: 1
}

.wrapper__inputs {

    width: 100%;
    height: 100%;
    flex: 1;
    min-height: 45vh;
    box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.5);

}



@media only screen and (min-width: 768px) {
    .wrapper {
        flex-direction: row;
    }

    .wrapper__map {
        position: relative;
        min-height: 55vh;
        flex: 1
    }

    .wrapper__inputs {
        height: 100vh;
        box-shadow: 8px 0px 15px 0 rgba(0, 0, 0, 0.5);
    }

}