body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.ol-zoom,
.ol-zoomslider {
  left: unset;
  right: 8px;
  display: none;
}

.ol-overviewmap {
  display: none;
}

.MicrosoftMap {
  flex: 0 0 100%;
}

.MicrosoftMap .as_container_search.as_container {
  position: absolute;
  width: auto;
}

.locationLine__address {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.locationLine__name.disabled,
.locationLine__address.disbaled {
  background-color: #e9ecef;
  opacity: 1;
}



.searchContainer {
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 50vw;
  background: white;
  z-index: 999;
  transform: translateX(100%);
}